<launch>

 	<include file="$(find puma560_gazebo)/launch/puma560_world.launch"/>

	<!-- Apply Xacro to create urdf  -->
	<param name="robot_description"
	command="$(find xacro)/xacro --inorder '$(find puma560_description)/urdf/puma560.xacro'" />

	<!-- Load joint controller configurations from YAML file to parameter server -->
  	<rosparam file="$(find puma560_description)/config/puma560_joint_state_controller.yaml" 
    command="load"/>

    <!-- Send joint values with ros parameter server -->
  	<node 
    name="controller_spawner" pkg="controller_manager" type="spawner" 
    respawn="false" output="screen" ns="/puma560" args="joint_state_controller"/>

	<!-- Combine joint values -->
	<node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" ns="/puma560"/>

	<!-- Show in Rviz   -->
	<node name="rviz" pkg="rviz" type="rviz" args="-d $(find puma560_description)/launch/puma560_rviz.rviz"/>

</launch>
