<launch>

  <include file="$(find puma560_gazebo)/launch/puma560_world.launch"/>
  <include file="$(find puma560_control)/launch/puma560_controllers.launch"/>
  <!-- Show in Rviz   -->
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find puma560_control)/launch/rviz.rviz"/>
  <node name="rqt"  pkg="rqt_gui" type="rqt_gui" respawn="false"
  output="screen" args="--perspective-file $(find puma560_control)/launch/rqt.perspective"/>
 
</launch>
